.header {
  background-color: #4a90e2;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile span {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.profile img {
  margin-left: 10px;
}
